@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fbfefa;
    min-height: 100vh;
    padding-top: 50px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 50px;
    background-color: #fbfefa;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
    color: #43955e;
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #43955e;
    font-size: 17px;
    margin-bottom: 5px;
}

form input {
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form textarea {
    padding: 10px;
    font-size: 15px;
    outline: none;
    margin-bottom: 25px;
    transition: all 0.5s;
}

form input:focus,
form textarea:focus {
    transform: scale(1.02);
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #43955e;
    color: #43955e;
    margin-bottom: 20px;
    transition: 0.2s;
}

form button:hover {
    background-color: white;
    color: black;
    transform: scale(1.02);
}
