
.inicio .img{
    background-image: url("../img/_9bc62ac5-8d24-45a0-bf47-7526d45836b1.jpg");
} 

.projetos .i1{
    background-image: url("../img/Rua-Arborizada.png");
}

.projetos .i2{
    background-image: url("../img/arvores-calc3a7adas-ruas-arborizadas1.webp");
}

.projetos .i3{
    background-image: url("../img/1561750646arvore-sombra.jpg");
}

